.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  color: #dcdada;
  margin-bottom: 20px;
}

.input-group,
.select-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  max-width: 400px;
}

select {
  max-width: 300px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.no-users {
  color: #888;
}
